body{
    background-color: navajowhite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  nav{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

  }
  nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li{
    margin: 0 45px;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: goldenrod;
    padding: 10px 15px ;
    border-radius: 35px;
  }
  nav ul li a:hover{
    background-color: #d64343;
  }
  h1{
    font-family: Arial, sans-serif;
    font-size: 45px;
    color: #533423;
    text-decoration: underline;

  }
  p{
    font-family: Arial, sans-serif;
  }
  /*!*div{*!*/
  /*  background-color: #3d5893;*/
  /*  height: 100px;*/
  /*  color: black;*/
  /*}*/
  .one{
    background-color: #af2020;
    height: 200px;
  }
  .bigboy{
    height: 178px;
    background-color: #36cc7e;
  }
  .hope{
    height: 200px;
    background-color: darkviolet;
  }
  #four{
    height: 200px;
    background-color: #5b9a5b;
  }
  #five{
    height: 200px;
    background-color: #2787a3;
  }

        body{
            background-color: cornflowerblue;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 2px;
        }
        nav{
            background-color: mintcream;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px 0;
        }
        nav ul{
            display: flex;
            list-style-type: none;
            margin: 2px;
            padding: 4px;
        }
        nav ul li{
margin: 0 70px;
        }
        nav ul li a {
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      color: maroon;
      padding: 10px 15px ;
      border-radius: 55px;
    }
         nav ul li a:hover{
      background-color: #40fd99;
    }
    h1{
      font-family: Arial, sans-serif;
      font-size: 52px;
      color: #d8610b;
      text-decoration: underline;

    }
 p{
   font-family: Arial, sans-serif
 }

 .komasava{
     text-align: center;
 }
 .sixteen{
     text-decoration: underline;
     font-weight: bolder;
 }
 main{
     display: flex;
 }
 .image-one{
     width: 100px;
     height: 100px;
 }
 .image-three{
     width: 100px;
     height: 100px;
 }
 .image-four{
     width: 100px;
     height: 100px;
 }
 .image-five{
     width: 100px;
     height: 100px;
 }


